<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todolist.mapper.TodoListMapper">
	
	<!-- 할일 목록 보기 -->
	<select id="list_select" resultType="com.todolist.model.TodoListVO">
	
		select idx, detail, regiDate, complDate, challStatus, failStatus from todolist where failStatus = 0 and id = #{id} and challStatus = #{challStatus} order by idx desc
	
	</select>
	
	<!-- 할일 등록하기 -->
	<insert id="list_insert">
	
		insert into todolist (id, detail, regidate, COMPLDATE, failStatus, challStatus) values (#{id}, #{detail}, now(), #{complDate}, 0, #{challStatus})
	
	</insert>
	
	<!-- 할일 수정하기 -->
	<update id="list_Update">
	
		update todolist set detail = #{detail}, complDate = #{complDate} where id = #{id} and idx = #{idx}
	
	</update>
	
	<!-- 시간지난거 실패처리 -->
	<update id="list_timeout">
	<![CDATA[
		update todolist set failStatus = 2 where failStatus = 0 and compldate <= now(); 
	]]>
	</update>
	
	<!-- 성공버튼 클릭 -->
	<update id="list_sucssess">
	
		update todolist set failStatus = 1 where failStatus = 0 and idx = #{idx}
	
	</update>
	
	<!-- 포기버튼 클릭 -->
	<update id="list_giveup">
	
		update todolist set failStatus = 2 where failStatus = 0 and idx = #{idx}
	
	</update>

</mapper>